

                        <div class="product-images">
                            <div class="main-image images">
                                <img alt="#" src="{{ modal_product.image.url }}" width="450px" height="250"/>
                            </div>
                        </div><!-- .product-images -->
                        <div class="product-info">
                            <h1>{{ modal_product.title }}</h1>



                            </div>
                            <div class="quick-desc">
                                {{ modal_product.description }}
                            </div>
