{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML5 и CSS3 сайт</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
  <header>
    <div id="logo" onclick="slowScroll('#top')">
      <span>StolbaKg</span>
    </div>
    <div id="about">
      <a href="#" title="Возможности" onclick="slowScroll('#main')">Возможности</a>
      <a href="#" onclick="slowScroll('#overview')" title="Преимущества">Преимущества</a>
      <a href="#" onclick="slowScroll('#contacts')" title="Контакты">Контакты</a>
      <a href="#" onclick="slowScroll('#faq')" title="Ответы на вопросы">FAQ</a>
    </div>
  </header>

  <div id="top">
    <h1> Закажите прямо сейчас и получайте 5% скидки </h1>
      
  </div>

  <div id="main">
    <div class="intro">
      ЧТО ТО НУЖНО НАПИСАТЬ
    </div>
  </div>

  <div id="overview">
    <h2>Стрижка </h2>
    <h4>вместе с нами все проще</h4>

    <div class="img">
      <img src="https://previews.123rf.com/images/netkoff/netkoff1809/netkoff180900139/108539682-color-barbershop-logo-sticker-with-skull-with-a-mustaches-beard-hearcut-and-sunglasses-scissors-a-da.jpg" alt="">
      <a href="#" style="color: aliceblue;"><span>подробнее</span></a>
    </div>
    <div class="img">
      <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX34308789.jpg" alt="">
      <a href="#" style="color: aliceblue;"><span>подробнее</span></a>
    </div>
  </div>
  <div id="faq">
    <div>
      <span class="title">Информационная часть</span><br>
      <span class="heading">Что то нужно написать</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae asperiores debitis perspiciatis perferendis nemo tempore distinctio officia commodi et non tempora laudantium culpa nostrum, quidem, quasi ratione itaque nam.</p>
    </div>
    <div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function slowScroll(id) {
      $('html, body').animate({
        scrollTop: $(id).offset().top
      }, 500);
    }

    $(document).on("scroll", function () {
      if($(window).scrollTop() === 0)
        $("header").removeClass("fixed");
      else
        $("header").attr("class", "fixed");
    });
  </script>
</body>
</html>